* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.high-score {
    color: purple;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 10%;
    width: 70%
}

.quiz-question {
    padding: 10px 0px;
    font-size: 38px;
    flex: 1 100%;
}

.quiz-question p {
    font-size: 28px;
    font-weight: normal;
}

footer {
    flex: 1 100%
};

.quiz-footer {
    color: gray;
    font-style: italic;
    border-top: solid 2px gray;
    flex: 1 100%;
    margin-top: 10px
}

.button {
    background-color: indigo;
    color: white;
    font-size: 26px;
    padding: 10px;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    border: none;
    list-style-position: inside;
}

.quiz-content {
    justify-content: space-between;
}

.button:hover {
    background-color: purple;
}